.footer {
  background-color: transparent;
  text-align: center;
  padding: 1rem;
  color: black;
  margin-top: 2rem;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.footer__text {
  margin: 0;
  font-size: 0.8rem;
}
